@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .all-\[unset\] {
  all: unset;
  }
  }
  :root {
  --variable-collection-boolean: initial;
  --variable-collection-color: rgba(255, 255, 255, 1);
  --variable-collection-heell: none;
  }